## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [5]:

mi_lista = ['La Plata', 'Amsterdam', 'New York', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi']
print(mi_lista)

['La Plata', 'Amsterdam', 'New York', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi']

2) Imprimir por pantalla el segundo elemento de la lista

In [9]:
print(mi_lista[1])

Amsterdam

3) Imprimir por pantalla del segundo al cuarto elemento

In [11]:
print(mi_lista[1:4])

['Amsterdam', 'New York', 'Sidney']

4) Visualizar el tipo de dato de la lista

In [12]:
print(type(mi_lista[2]))

<class 'str'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [14]:
print(mi_lista[2:])

['New York', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi']

6) Visualizar los primeros 4 elementos de la lista

In [15]:
print(mi_lista[:4])

['La Plata', 'Amsterdam', 'New York', 'Sidney']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [21]:
mi_lista.append('Bruselas')
print(mi_lista)
mi_lista.append('Nueva York')
print(mi_lista)
# No arroja ningún error

['La Plata', 'Amsterdam', 'New York', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Bruselas', 'Bruselas', 'Bruselas', 'Bruselas']
['La Plata', 'Amsterdam', 'New York', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Bruselas', 'Bruselas', 'Bruselas', 'Bruselas', 'Nueva York']

8) Agregar otra ciudad, pero en la cuarta posición

In [30]:
mi_lista.insert(3,'Tokio')
print(mi_lista)

['La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Bruselas', 'Bruselas', 'Bruselas', 'Bruselas', 'Nueva York']

9) Concatenar otra lista a la ya creada

In [34]:
mi_lista.extend(['Roma', 'Cataluña', 'Valparaíso', 'Mar del Plata', 'Miraflores'])
print(mi_lista)

['La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Bruselas', 'Bruselas', 'Bruselas', 'Bruselas', 'Nueva York', 'Roma', 'Cataluña', 'Valparaíso', 'Mar del Plata', 'Miraflores', 'Roma', 'Cataluña', 'Valparaíso', 'Mar del Plata', 'Miraflores', 'Roma', 'Cataluña', 'Valparaíso', 'Mar del Plata', 'Miraflores']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [37]:
print(mi_lista.index('Nueva York'))
# Arroja el último lugar en el que aparece

14

11) ¿Qué pasa si se busca un elemento que no existe?

In [38]:
print(mi_lista.index('La Paz'))
# Arroja error y aclara que el elemento no se encuentra en la lista

ValueError: 'La Paz' is not in list

12) Eliminar un elemento de la lista

In [47]:
mi_lista.remove('Mar del Plata')
print(mi_lista)

['La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Nueva York', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'Mar del Plata']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [48]:
mi_lista.remove('Madrid')
print(mi_lista)
# Arroja error y aclara que el elemento no se encuentra en la lista

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [49]:
new = mi_lista.pop()
print(new)

Mar del Plata

15) Mostrar la lista multiplicada por 4

In [50]:
print(mi_lista * 4)

['La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Nueva York', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Nueva York', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Nueva York', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Nueva York', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [59]:
mi_lista2 = (1, 2, 3, 4, 5, 6, 7, 8 , 9 , 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(type(mi_lista2))
print(mi_lista2)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [60]:
print(mi_lista2 [10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [63]:
print(20 in mi_lista2)
print(30 in mi_lista2)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [68]:
elemento = 'París'
if (not elemento in mi_lista):
    mi_lista.append(elemento)
    print('El elemento ', elemento, ' fue añadido a la lista')
    print(mi_lista)
else:
    print('El elemento ', elemento, ' ya se encontraba en la lista')

El elemento  París  fue añadido a la lista
['La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Nueva York', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'París']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [70]:
print(mi_lista2.count(3))
print(mi_lista.count('Valparaíso'))

1
3

21) Convertir la tupla en una lista

In [72]:
mi_lista2 = list(mi_lista2)
print(type(mi_lista2))
print(mi_lista2)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [74]:
num1, num2, num3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, = mi_lista2
print(num1)
print(num2)
print(num3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [82]:
mi_diccionario = {'Ciudad' : mi_lista,
                'País': ['Argentina', 'Brasil', 'Chile', 'Canadá', 'Egipto'], 
                'Continente': ['América', 'Europa', 'Asia', 'Oceanía']}
print(mi_diccionario)

{'Ciudad': ['La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Nueva York', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'París'], 'País': ['Argentina', 'Brasil', 'Chile', 'Canadá', 'Egipto'], 'Continente': ['América', 'Europa', 'Asia', 'Oceanía']}

24) Imprimir las claves del diccionario

In [84]:
print(mi_diccionario.keys())

dict_keys(['Ciudad', 'País', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [85]:
print(mi_diccionario['Ciudad'])

['La Plata', 'Amsterdam', 'New York', 'Tokio', 'Sidney', 'Lima', 'Barcelona', 'Porto', 'Versalles', 'Nueva Delhi', 'Nueva York', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'Roma', 'Cataluña', 'Valparaíso', 'París']